

@{
    ViewData["Title"] = "Servicos";
    
}
       <link rel="stylesheet" href="~/site.css/produto.css">
 
 
 
 
 <div class="container">
 <div class="row">
 <div class="col-md-6">

 <div class="alert alert-primary" role="alert">
 <h2><strong>BRIGADEIRO R$3,50 Un</strong></h2>
</div>
<div class="alert alert-secondary" role="alert">
 <h2> <strong>BRANQUINHO R$3,50</strong> </h2>
</div>
<div class="alert alert-success" role="alert">
 <h2><strong>TORTA R$39,00 Kg</strong></h2>
  </div>

<div class="alert alert-danger" role="alert">
<h2><strong>BOLO ANIVERSARIO 49,99Kg</strong></h2>
</div>

<div class="alert alert-warning" role="alert">
 <h2><strong>MIL FOLHAS  6,50Un</strong></h2>
</div>
<div class="alert alert-info" role="alert">
 <h2><strong>SONHO DE CREME R$4,50Un</strong></h2>
</div>
<div class="alert alert-light" role="alert">
<h2><strong>SONHO DE LEITE  R$ 4,50Un</strong></h2>
</div>
<div class="alert alert-dark" role="alert">
 <h2><strong>CUPCAKE MORANGO 7,99Un</strong></h2>
</div>
 </div>
 <div class="col-md-6">
 <div class="alert alert-primary" role="alert">
 <h2><strong>CUPCAKE CHOCOLATE 7,99Un</strong></h2>
</div>
<div class="alert alert-secondary" role="alert">
 <h2><strong>BROA DE MILHO 15,00Kg</strong></h2>
</div>
<div class="alert alert-success" role="alert">
  <h2><strong>BROA DE POLVILHO 15,00Kg</strong></h2>
</div>
<div class="alert alert-danger" role="alert">
  <h2><strong>EMPADA CHOCOLATE  5,50Un</strong></h2>
</div>
<div class="alert alert-warning" role="alert">
  <h2><strong>TORTA DE LIMÃO 10,00 Kg</strong></h2>
</div>
<div class="alert alert-info" role="alert">
  <h2><strong>TORTA DE BRIGADEIRO 25,00Kg</strong></h2>
</div>
<div class="alert alert-light" role="alert">
  <h2><strong>TORTA DE MERENGUE 15,00Kg</strong></h2>
</div>
<div class="alert alert-dark" role="alert">
   <h2><strong>BOLO DE NOZES 35,00Kg</strong></h2>
</div>
 </div>
 </div>
 </div>
  


